
/* Estil del header de la pagina */
header {
  background-image: url(/assets/img/banner-xarxa.png);
  color: white;
  text-align: center;
  height: 400px;
  text-transform: uppercase;
}

/* Estil que es troba al text del header */
#h1 {
  padding-top: 180px;
  font-size: 60px !important;
}
