<div class="container-fluid my-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Alta Event</h3>
        <form [formGroup] = "usuari">

          <!--Nom-->
          <div class="form-group">
            <input class="form-control" formControlName="nom" #vNom placeholder="Nom d'Usuari" type="text" name="Nom" [ngClass]="{'is-invalid':submitted && f.nom.errors}"/>

            <!--Validar Nom-->
            <div *ngIf = "submitted && f.nom.errors" class="invalid-feedback">
              <p *ngIf = "f.nom.errors.required">Aquest camp es obligatori</p>
            </div>

          </div>

          <!--Cognom-->
          <div class="form-group">
            <input class="form-control" formControlName="cognom" #vCognom type="text" name="Cognom" placeholder="Cognom d'Usuari" [ngClass]="{'is-invalid':submitted && f.cognom.errors}"/>

            <!--Validar Cognom-->
            <div *ngIf = "submitted && f.cognom.errors" class="invalid-feedback">
              <p *ngIf = "f.cognom.errors.required">Aquest camp es obligatori</p>
            </div>

          </div>

          <!--Edat-->
          <div class="form-group">
            <input class="form-control" formControlName="edat" #vEdat placeholder="Edat" name="Edat" type="number" [ngClass]="{'is-invalid':submitted && f.edat.errors}">

            <!--Validar Edat-->
            <div *ngIf = "submitted && f.edat.errors" class="invalid-feedback">
              <p *ngIf = "f.edat.errors.required">Aquest camp es obligatori</p>
              <p *ngIf = "f.edat.errors.pattern">Aquest camp  sol s'acepten numeros</p>
            </div>

          </div>

          <!--Foto-->
          <div class="form-group">
            <input class="form-control" formControlName="foto" #vFoto placeholder="Foto" name="Foto" type="text" [ngClass]="{'is-invalid':submitted && f.foto.errors}">

            <!--Validar Foto-->
            <div *ngIf = "submitted && f.foto.errors" class="invalid-feedback">
              <p *ngIf = "f.foto.errors.required">Aquest camp es obligatori</p>
            </div>

          </div>

          <!--Descripcio-->
          <div class="form-group">
            <textarea class="form-control" formControlName="descripcio" #vDescrip placeholder="Descripció" type="text" name="descripcio" [ngClass]="{'is-invalid':submitted && f.descripcio.errors}"></textarea>

            <!--Validar Descripcio-->
            <div *ngIf = "submitted && f.descripcio.errors" class="invalid-feedback">
              <p *ngIf = "f.descripcio.errors.required">Aquest camp es obligatori</p>
              <p *ngIf = "f.descripcio.errors.minlength">Aquest camp a de tindre com a minim 4 caracters</p>
            </div>

          </div>

          <!--Correu-->
          <div class="form-group">
            <input class="form-control" formControlName="correu" #vCorreu placeholder="Correu de Contacte" name="correu" type="email" [ngClass]="{'is-invalid':submitted && f.correu.errors}">

            <!--Validar Correu-->
            <div *ngIf = "submitted && f.correu.errors" class="invalid-feedback">
              <p *ngIf = "f.correu.errors.required">Aquest camp es obligatori</p>
              <p *ngIf = "f.correu.errors.email">Falta un @</p>
            </div>

          </div>

          <!--Contrasenya-->
          <div class="form-group">
            <input class="form-control" formControlName="password" #vPassword placeholder="Contrasenya" name="password" type="password" [ngClass]="{'is-invalid':submitted && f.password.errors}">

            <!--Validar Contrasenya-->
            <div *ngIf = "submitted && f.password.errors" class="invalid-feedback">
              <p *ngIf = "f.password.errors.required">Aquest camp es obligatori</p>
            </div>

          </div>

          <!--Confirmar Contrasenya-->
          <div class="form-group">
            <input class="form-control" formControlName="passwordc" #vPasswordC placeholder="Repetir Contrasenya" name="passwordc" type="password" [ngClass]="{'is-invalid':submitted && f.passwordc.errors}">

            <!--Validar Confirmar Contrasenya-->
            <div  class="invalid-feedback">
              <p *ngIf = "f.passwordc.errors.required">Aquest camp es obligatori</p>
              <p *ngIf = "!checarSiSonIguales()">Oa</p>
            </div>


          </div>

          <!--Botó per enviar les dades-->
          <button class="btn btn-primary btn-block" (click)="enviarDatos(vNom.value, vCognom.value, vEdat.value, vFoto.value, vDescrip.value, vCorreu.value, vPasswordC.value)" type="button"><b>Click Per Fer La Alta Event!</b></button>
        </form>
      </div>
    </div>
  </div>
</div>
