<h1 class="titol text-center mt-3">- Llista Usuaris -</h1>

<!-- Detalls de l'usuari insertats per formulari -->
<div class="row my-3 mx-3">
  <div *ngFor="let usuari  of usuaris" class="col">
    <div class="card card-style mb-4">
      <img src={{usuari.foto}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{usuari.nom}} {{usuari.cognom}}, {{usuari.edat}}</h5>
        <p class="card-text">{{usuari.descripcio}}</p>
        <app-detall-usuari [usuariSelected]="usuari"></app-detall-usuari>
      </div>
    </div>
  </div>
</div>
<br>

<app-registre-usuari (pasarUsuari)="arrayDeEventos($event)"></app-registre-usuari>
