<button type="button" class="btn btn-outline-primary" (click)="canviarModel(usuariModal)">Veure més</button>
<ng-template #usuariModal>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{usuariSelected.nom}} {{usuariSelected.cognom}}</h5>
      </div>
      <div class="modal-body">
        <p>Edat: {{usuariSelected.edat}}</p>
        <p>Correu: {{usuariSelected.correu}}</p>
        <p>Descripció: {{usuariSelected.descripcio}}</p>
      </div>
    </div>

</ng-template>
